*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(image/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-items{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 1245px;
    top: 316px;
    text-align: right;
}
.banner-title{
    font-size: 60px;
    color: #fff;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}
.banner-des{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}
.btn-primary{
    background-color: #fff;
    color: #2f2f2f;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 5px;
    font-family: 'work Sans';

}

.About-container{
    width: 1072px;
    height: 723.3px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: right;
}
.color-icons{
    color: rgb(0, 206, 51);
    font-size: 30px;
    line-height: 15px;
}
.check-items{
    font-size: 20px;
    line-height: 5px;
    
}
.check-container{
    margin: 20px 0;
}

.MyPlans{
   width: 80%;
    margin: 50px auto;

}

.plan-text{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.title-text{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    font-family: 'work-Sans';
}
.title-des{
    color: #737272;
    font-size: 14px;
}

.plan-container{
    display: flex;
    justify-content: space-around;
    margin: 50px ;
    padding: 30px;
}
.web{
   width: 50%;
    margin-left: 30px;
}